@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg: 0 0% 0%;
        --fg: 0 0% 100%;

        --primary: 0 0% 100%;
        --primary-fg: 0 0% 0%;

        --secondary: 0 0% 100%;
        --secondary-fg: 0 0% 0%;
    }


    html {
        @apply bg-bg text-fg;
    }
}